<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <title>签证详情</title>
    <link rel="stylesheet" href="../style/index.css">
</head>
<body>
<div id="first" class="detail-header">
    <a href="javascript:back();">
        <img src="../image/back2.png" alt="">
    </a>
    <h5>日本签证</h5>
</div>
<div id="last" class="detail-header headShow" style="display: none">
    <a href="javascript:back();">
        <img src="../image/back.png" alt="">
    </a>
    <h5>日本签证</h5>
</div>
<div class="detail-bg">
    <img src="../image/source5.png" alt="">
</div>
<div class="detail-message">
    <div class="message-head">
        <h5>【上海送签】</h5>
        <p>日本签证个人旅游</p>
        <p class="message-font ml-mt" style="font-size: 3vw;">超值优惠</p>
        <img src="../image/call.png" alt="">
    </div>
    <div class="message-hot">
        <div class="hot-star">
            <img src="../image/star.png" alt="">
            <img src="../image/star.png" alt="">
            <img src="../image/star.png" alt="">
            <img src="../image/star.png" alt="">
            <img src="../image/star.png" alt="">
            <p class="message-font" href="#">4.8分</p>
            <p class="message-font" href="#">已售4069</p>
            <p class="message-font" href="#">2484评价</p>
        </div>
    </div>
    <div class="message-label">
        <p class="message-font">出签率99.9%</p>
        <p class="message-font">进度透明</p>
        <p class="message-font">拒签全退</p>
        <p class="message-font">免交担保金</p>
        <p class="message-font">免费拍照</p>
    </div>
    <div class="message-other">
        <div class="speed">
            <h5>签证完成时间5-12天【可加急】</h5>
            <p class="message-font">承诺规定时间内返回签证结果</p>
        </div>
        <div class="price">
            ￥90-1200
        </div>
    </div>
</div>
<div class="detail-contain">
    <div class="description">
        <div class="production">
            <h5>产品说明</h5>
            <a href="#"> > </a>
        </div>
        <div class="pro-nav">
            <div class="pro-list">
                <p>单次</p>
                <p class="message-font">入境次数</p>
            </div>
            <div class="pro-list">
                <p>15天</p>
                <p class="message-font">停留天数</p>
            </div>
            <div class="pro-list">
                <p>90天</p>
                <p class="message-font">有效期</p>
            </div>
            <div class="pro-list">
                <p>暂无</p>
                <p class="message-font">面试录指纹</p>
            </div>
        </div>
    </div>
    <div class="advertisement" onclick="go();">
        <div class="landscape-img">
            <img src="../image/hot4.png" alt="">
        </div>
        <div class="landscape-detail">
            <div class="detail-h">
                <h5>普通套餐签证</h5>
                <p class="message-font">在线预订</p>
            </div>
            <div class="hot-star">
                <img src="../image/star.png" alt="">
                <img src="../image/star.png" alt="">
                <img src="../image/star.png" alt="">
                <img src="../image/star.png" alt="">
                <img src="../image/star.png" alt="">
                <p class="message-font">推荐指数5颗星</p>
            </div>
            <div class="fee">
                <p class="message-font">签证费</p>
                <p class="message-font">服务费</p>
                <p class="message-font">拒签退款</p>
                <p class="message-font">加急费</p>
                <h5>￥238起</h5>
            </div>
            <div class="welfare">
                <p class="message-font">上海送签</p>
                <p class="message-font">新人福利</p>
                <a class="message-font" href="#">
                    详情 <span> > </span>
                </a>
            </div>
        </div>
    </div>
    <div class="advertisement" onclick="go();">
        <div class="landscape-img">
            <img src="../image/hot4.png" alt="">
        </div>
        <div class="landscape-detail">
            <div class="detail-h">
                <h5>普通套餐签证</h5>
                <p class="message-font">在线预订</p>
            </div>
            <div class="hot-star">
                <img src="../image/star.png" alt="">
                <img src="../image/star.png" alt="">
                <img src="../image/star.png" alt="">
                <img src="../image/star.png" alt="">
                <img src="../image/star.png" alt="">
                <p class="message-font">推荐指数5颗星</p>
            </div>
            <div class="fee">
                <p class="message-font">签证费</p>
                <p class="message-font">服务费</p>
                <p class="message-font">拒签退款</p>
                <p class="message-font">加急费</p>
                <h5>￥238起</h5>
            </div>
            <div class="welfare">
                <p class="message-font">上海送签</p>
                <p class="message-font">新人福利</p>
                <a class="message-font" href="#">
                    详情 <span> > </span>
                </a>
            </div>
        </div>
    </div>
    <div class="advertisement" onclick="go();">
        <div class="landscape-img">
            <img src="../image/hot4.png" alt="">
        </div>
        <div class="landscape-detail">
            <div class="detail-h">
                <h5>普通套餐签证</h5>
                <p class="message-font">在线预订</p>
            </div>
            <div class="hot-star">
                <img src="../image/star.png" alt="">
                <img src="../image/star.png" alt="">
                <img src="../image/star.png" alt="">
                <img src="../image/star.png" alt="">
                <img src="../image/star.png" alt="">
                <p class="message-font">推荐指数5颗星</p>
            </div>
            <div class="fee">
                <p class="message-font">签证费</p>
                <p class="message-font">服务费</p>
                <p class="message-font">拒签退款</p>
                <p class="message-font">加急费</p>
                <h5>￥238起</h5>
            </div>
            <div class="welfare">
                <p class="message-font">上海送签</p>
                <p class="message-font">新人福利</p>
                <a class="message-font" href="#">
                    详情 <span> > </span>
                </a>
            </div>
        </div>
    </div>
    <div class="advertisement" onclick="go();">
        <div class="landscape-img">
            <img src="../image/hot4.png" alt="">
        </div>
        <div class="landscape-detail">
            <div class="detail-h">
                <h5>普通套餐签证</h5>
                <p class="message-font">在线预订</p>
            </div>
            <div class="hot-star">
                <img src="../image/star.png" alt="">
                <img src="../image/star.png" alt="">
                <img src="../image/star.png" alt="">
                <img src="../image/star.png" alt="">
                <img src="../image/star.png" alt="">
                <p class="message-font">推荐指数5颗星</p>
            </div>
            <div class="fee">
                <p class="message-font">签证费</p>
                <p class="message-font">服务费</p>
                <p class="message-font">拒签退款</p>
                <p class="message-font">加急费</p>
                <h5>￥238起</h5>
            </div>
            <div class="welfare">
                <p class="message-font">上海送签</p>
                <p class="message-font">新人福利</p>
                <a class="message-font" href="#">
                    详情 <span> > </span>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="../js/jquery.js"></script>
<script>
    $(function () {
        var winHeight = $(document).scrollTop();
        var top = $(".detail-message").offset().top;
        $(window).scroll(function () {
            var scrollY = $(document).scrollTop();// 获取垂直滚动的距离，即滚动了多少
            if (scrollY > winHeight) { //如果没滚动到顶部，删除显示类，否则添加显示类
                if (scrollY > 100) {
                    /*$('.detail-header').addClass('headShow');*/
                    $("#first").hide();
                    $("#last").show();
                } else {
                    /*$('.detail-header').removeClass('headShow');*/
                    $("#last").hide();
                    $("#first").show();
                }
                console.log("winHeight：" + winHeight);
                console.log("scrollY：" + scrollY);
            } else {
                /*$('.detail-header').removeClass('headShow');*/
                $("#last").hide();
                $("#first").show();
            }

        });

    });
    function  go() {
        window.location.href="news.html";
    }
</script>
</body>
</html>
