<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <title>登录</title>
    <link rel="stylesheet" href="../style/index.css">
</head>
<body class="login-bg">
    <div class="login-contain">
        <div class="login-header">
            <p>欢迎登录</p>
        </div>
        <div class="login-logo" align="center">
            <img src="../image/7.jpeg" alt="">
            <p>划过美好生活</p>
        </div>
        <div class="form-group">
            <div class="form-item">
                <label for="phone">
                    <img src="../image/phone.png" alt="">
                </label>
                <input id="phone" type="text" placeholder="请输入手机号">
            </div>
            <div class="form-item">
                <label for="code">
                    <img src="../image/code.png" alt="">
                </label>
                <input id="code" type="text" placeholder="请输入验证码">
                <button>发送验证码</button>
            </div>
        </div>
        <div class="button-group">
            <button class="login-btn">登录</button>
            <button onclick="register()" class="login-register">注册</button>
        </div>
        <div class="casual">
            <a href="../index.html">随便逛逛</a>
        </div>
        <div class="order-login">
            <p>使用第三方账号登录</p>
            <ul>
                <li>
                    <a href="#">
                        <img src="../image/QQ.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../image/WeChat.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../image/blog.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="copyright">
            该技术由如你所喜欢提供
        </div>
    </div>
<script src="../js/index.js"></script>
</body>
</html>
