<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <title>个人中心</title>
    <link rel="stylesheet" href="../style/index.css">
</head>
<body style="background-color: #f2f2f2;">
    <div class="head">
        <div class="avatar">
            <img src="../image/7.jpeg" alt="">
        </div>
        <div class="profile">
            <p>畅想旅游的乐趣</p>
            <button onclick="login()">登录/注册</button>
        </div>
    </div>
    <div class="order">
        <div class="order-icon">
            <img src="../image/order.png" alt="">
            <p>我的订单</p>
        </div>
        <div class="order-more">
            <a href="#">查看全部订单 <span> > </span></a>
        </div>
    </div>
    <div class="mine-nav">
        <a href="#">
            <img src="../image/pay.png" alt="">
            <p>待付款</p>
        </a>
        <a href="#">
            <img src="../image/go.png" alt="">
            <p>待出行</p>
        </a>
        <a href="#">
            <img src="../image/evaluate.png" alt="">
            <p>待评价</p>
        </a>
        <a href="order.html">
            <img src="../image/money.png" alt="">
            <p>我的订单</p>
        </a>
    </div>
    <div class="signIn">
        <div class="signIn-icon">
            <img src="../image/signIn.png" alt="">
            <p>2019-08-23今日已签</p>
        </div>
        <div class="signIn-record">
            <a>我的签到记录 <span> > </span></a>
        </div>
    </div>
    <div class="myPhoto">
        <div class="photo-icon">
            <img src="../image/camera.png" alt="">
            <p>我的旅行</p>
        </div>
        <p>随时随地分享我的旅游游记</p>
        <button>开启分享我的旅行</button>
    </div>
    <div class="moreFeatures">
        <div class="feature-icon">
            <img src="../image/feature.png" alt="">
            <p>更多功能</p>
        </div>
        <div class="feature-list">
            <a href="">
                <img src="../image/wallet.png" alt="">
                <p>我的钱包</p>
            </a>
            <a href="">
                <img src="../image/box.png" alt="">
                <p>旅行必备</p>
            </a>
            <a href="">
                <img src="../image/coupon.png" alt="">
                <p>卡券包</p>
            </a>
            <a href="">
                <img src="../image/fight.png" alt="">
                <p>超值拼团</p>
            </a>
            <a href="">
                <img src="../image/member.png" alt="">
                <p>会员中心</p>
            </a>
            <a href="">
                <img src="../image/chosen.png" alt="">
                <p>精挑细选</p>
            </a>
            <a href="">
                <img src="../image/consultant.png" alt="">
                <p>旅行顾问</p>
            </a>
            <a href="">
                <img src="../image/gift.png" alt="">
                <p>旅行特产</p>
            </a>
            <a href="">
                <img src="../image/question.png" alt="">
                <p>帮助中心</p>
            </a>
            <a href="">
                <img src="../image/safety.png" alt="">
                <p>账号安全</p>
            </a>
            <a href="">
                <img src="../image/customer.png" alt="">
                <p>在线客服</p>
            </a>
            <a href="">
                <img src="../image/follow.png" alt="">
                <p>关于我们</p>
            </a>
        </div>
    </div>
    <footer>
        <ul>
            <li onclick="go(1)">
                <img src="../image/home.png" alt="">
                <p>首页</p>
            </li>
            <li>
                <img src="../image/address.png" alt="">
                <p>目的地</p>
            </li>
            <li>
                <img src="../image/look.png" alt="">
                <p>发现</p>
            </li>
            <li>
                <img src="../image/suitcase.png" alt="">
                <p>行程</p>
            </li>
            <li class="active">
                <img src="../image/mine-select.png" alt="">
                <p>我的</p>
            </li>
        </ul>
    </footer>
    <script src="../js/jquery.js"></script>
<script src="../js/index.js"></script>
</body>
</html>
