<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <title>旅行动态</title>
    <link rel="stylesheet" href="../style/index.css">
</head>
<body>
<div id="first" class="detail-header">
    <a href="javascript:back();">
        <img src="../image/back2.png" alt="">
    </a>
    <h5>旅行动态</h5>
</div>
<div id="last" class="detail-header headShow" style="display: none">
    <a href="javascript:back();">
        <img src="../image/back.png" alt="">
    </a>
    <h5>旅行动态</h5>
</div>
<div class="detail-bg">
    <img src="../image/source6.jpg" alt="">
</div>
<div class="mine-panel">
    <div class="panel-head">
        <img src="../image/7.jpeg" alt="">
        <div>
            <h5>环球旅行先锋者</h5>
            <p>踏寻每一片土地，看看世界</p>
        </div>
    </div>
    <div class="panel-like">
        <div>
            <p>2345</p>
            <p>人气</p>
        </div>
        <div>
            <p>2345</p>
            <p>粉丝</p>
        </div>
        <div>
            <p>2345</p>
            <p>关注</p>
        </div>
    </div>
</div>
<div class="news-nav">
    <a href="#" class="active">
        游记广场
    </a>
    <a href="#">
        我的旅拍
    </a>
    <a href="#">
        收藏喜欢
    </a>
</div>
<div class="newslist">
    <p class="distance">
        云南大理 | 距离2030km
    </p>
    <div class="newsImg">
        <img src="../image/my.jpg" alt="">
    </div>
    <p>
        近日，经历了一场秋雨的甘肃崆峒山烟雨蒙蒙，充满诗情画意。座座山峰层峦叠嶂，
        庙宇置身云雾之中，仿佛云端里的仙居。游人雨后拾级而上观赏“道源圣地”美景。
    </p>
    <div class="operator-group">
        <div class="evaluate">
            <img src="../image/evaluate.png" alt="">
            <p>813谈论</p>
        </div>
        <div class="good">
            <img src="../image/good.png" alt="">
            <p>50赞</p>
        </div>
        <p>2019-06-06</p>
    </div>
</div>
<div class="newslist">
    <p class="distance">
        云南大理 | 距离2030km
    </p>
    <div class="newsImg">
        <img src="../image/my.jpg" alt="">
    </div>
    <p>
        近日，经历了一场秋雨的甘肃崆峒山烟雨蒙蒙，充满诗情画意。座座山峰层峦叠嶂，
        庙宇置身云雾之中，仿佛云端里的仙居。游人雨后拾级而上观赏“道源圣地”美景。
    </p>
    <div class="operator-group">
        <div class="evaluate">
            <img src="../image/evaluate.png" alt="">
            <p>813谈论</p>
        </div>
        <div class="good">
            <img src="../image/good.png" alt="">
            <p>50赞</p>
        </div>
        <p>2019-06-06</p>
    </div>
</div>
<div class="newslist">
    <p class="distance">
        云南大理 | 距离2030km
    </p>
    <div class="newsImg">
        <img src="../image/my.jpg" alt="">
    </div>
    <p>
        近日，经历了一场秋雨的甘肃崆峒山烟雨蒙蒙，充满诗情画意。座座山峰层峦叠嶂，
        庙宇置身云雾之中，仿佛云端里的仙居。游人雨后拾级而上观赏“道源圣地”美景。
    </p>
    <div class="operator-group">
        <div class="evaluate">
            <img src="../image/evaluate.png" alt="">
            <p>813谈论</p>
        </div>
        <div class="good">
            <img src="../image/good.png" alt="">
            <p>50赞</p>
        </div>
        <p>2019-06-06</p>
    </div>
</div>
<div class="newslist">
    <p class="distance">
        云南大理 | 距离2030km
    </p>
    <div class="newsImg">
        <img src="../image/my.jpg" alt="">
    </div>
    <p>
        近日，经历了一场秋雨的甘肃崆峒山烟雨蒙蒙，充满诗情画意。座座山峰层峦叠嶂，
        庙宇置身云雾之中，仿佛云端里的仙居。游人雨后拾级而上观赏“道源圣地”美景。
    </p>
    <div class="operator-group">
        <div class="evaluate">
            <img src="../image/evaluate.png" alt="">
            <p>813谈论</p>
        </div>
        <div class="good">
            <img src="../image/good.png" alt="">
            <p>50赞</p>
        </div>
        <p>2019-06-06</p>
    </div>
</div>
<script src="../js/jquery.js"></script>
<script>
    $(function () {
        var winHeight = $(document).scrollTop();
        $(window).scroll(function () {
            var scrollY = $(document).scrollTop();// 获取垂直滚动的距离，即滚动了多少
            if (scrollY > winHeight) { //如果没滚动到顶部，删除显示类，否则添加显示类
                if (scrollY > 50) {
                    /*$('.detail-header').addClass('headShow');*/
                    $("#first").hide();
                    $("#last").show();
                } else {
                    /*$('.detail-header').removeClass('headShow');*/
                    $("#last").hide();
                    $("#first").show();
                }
                console.log("winHeight：" + winHeight);
                console.log("scrollY：" + scrollY);
            } else {
                /*$('.detail-header').removeClass('headShow');*/
                $("#last").hide();
                $("#first").show();
            }

        });

    });
</script>
</body>
</html>
